$main+4          : #cec0ff;
$main+3          : #a78bf7;
$main+2          : #8a64f4;
$main+1          : #6d3df2;
$main            : #5016ef;
$main-1          : #410ecc;
$main-2          : #340ba3;
$main-3          : #27087a;
    
$secondary+4     : #fff8e6;
$secondary+3     : #ffefbf;
$secondary+2     : #ffdf80;
$secondary+1     : #ffcf40;
$secondary       : #f7b000;
$secondary-1     : #d59f00;
$secondary-2     : #aa7f00;
$secondary-3     : #805f00;

$good+4          : #d7fff9;
$good+3          : #9ee7df;
$good+2          : #6ddbce;
$good+1          : #3ccfbe;
$good            : #00a693;
$good-1          : #008576;
$good-2          : #006458;
$good-3          : #00423b;

$bad+4           : #ffc0d2;
$bad+3           : #f5a3b7;
$bad+2           : #ef7694;
$bad+1           : #ea4870;
$bad             : #e51a4c;
$bad-1           : #b7153d;
$bad-2           : #89102e;
$bad-3           : #5c0a1e;

$grey+4          : #f0f0f3;
$grey+3          : #e2e2e6;
$grey+2          : #d3d3da;
$grey+1          : #a8a8b6;
$grey            : #7c7c91;
$grey-1          : #66667a;
$grey-2          : #525261;
$grey-3          : #3d3d49;
$grey-4          : #303039;
$grey-5          : #222229;
$grey-6          : #151519;
$grey-7          : #070708;

$white           : #ffffff;
$white-1         : #f0f0f3;
$white-2         : #e2e2e6;
$white-3         : #d3d3da;
$white-4         : #a8a8b6;

$black+3         : #3d3d49;
$black+2         : #303039;
$black+1         : #222229;
$black           : #151519;
$black-1         : #070708;